[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = webhooklite-service.default.svc

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = webhooklite-service
DNS.2 = webhooklite-service.default
DNS.3 = webhooklite-service.default.svc
DNS.4 = webhooklite-service.default.svc.cluster.local